/*Pokédex stylesheet*/

@import url('https://fonts.googleapis.com/css?family=Fredoka+One|Source+Sans+Pro&display=swap');

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0
}


body {
  font-family: 'Source Sans Pro', sans-serif;
  background-color: #FF7F50;
  text-align: center;
}

h1 {
  font-family: 'Fredoka One';
  font-size: 89px;
  color: #FFEBCD;

}

.page-header__logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 50px 25px 25px;
}

.pokeText {
  text-align: center;
  }

  .pokemon-list {
    list-style-type: none;

  }

  .pokemon-list li {
    display: grid;
    grid-template-columns: auto;
    grid-gap: 5px;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;

    margin: 5px;
  }

  .button-class {
    background-color: #5F9EA0; /* Cadet Blue */
    margin: 30px;
    height: 30px;
    width: 100px;
    border-radius: 2em;
    text-transform: capitalize;
  }

  .button-class:hover {
    background-color:#476e9e;
  }
  .button-class:active {
    position:relative;
    top:1px;
  }

  .modal-title {
    text-transform: capitalize;
    text-align: center;
  }

  .modal-body {
    text-transform: capitalize;
    text-align: center;
  }

  .navbar
  {
    border-bottom: 1px;
    border-bottom-style: dotted;
    opacity: 0.9;
    border-bottom-color: #78A7C3;
  }
